@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-space-mono: "Space Mono", monospace;
}

/* Forzamos el fondo oscuro en toda la aplicación */
:root {
  background-color: #030712; /* slate-950 */
  color: #ecfeff; /* cyan-50 */
  font-family: var(--font-space-mono);
}

html, body, #root {
  background-color: #030712;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #080A0F;
}
::-webkit-scrollbar-thumb {
  background: #FF3B3B;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF6B6B;
}